.page-container {
    min-height: 100%;
    padding-left: 22%;
    background-color: var(--color-lightModePrimary);   
    color: var(--lightModeDark);
}

.page-container.dark {
    background-color: var(--color-darkModePrimary); 
    color: #fff;  
}

main {
    width: 100%;
    min-height: 100vh;
}