.student__card {
   width: 20%;
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
   height: 250px;
   border-radius: 34px;
   background-color: #0d2129;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  
}

.student__card-wrapper {
    display: flex;
    padding: 25px;
    gap: 15px;
}

.student__card-info {
    display: flex;
    flex-direction: column;
    flex: 3;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.student__card-img-wrapper {
    width: 100%;
    position: relative;
    flex: 2;
    background-color: #edf2f4;
    border-radius: 5px 5px 0 0;
}

.student__card-img {
    width: 50%;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    bottom: -25%;
    left: 25%;
    border: 3px solid #fff;

   
}

.light-font {
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
}

.details-link {
    background-color: #e85d04;
    padding: 5px 10px;
    border-radius: 8px;
    
}