:root {
    --color-primary: #480ca8;
    --color-secondary: #0d2129;
}

* {
    box-sizing: border-box;
}

html, body, #root, .App {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

ul {
    list-style: none;
    padding: 0;
    margin:0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    min-width: 48px;
    cursor: pointer;
}
