.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

.about-me__body, .about-me > p {
    margin: 0
}

.about-me__img {
   position: relative;
   z-index: 2;
   box-shadow: var(--box-shadow);
}

.section__title--about {
    margin-bottom: 8px;
}


@media (min-width: 600px) {

    .about-me {
      display: grid;
      grid-column-gap: 3rem;
      grid-template-areas: 
        "title img"
        "subtitle img"
        "text img"
      ;
      grid-template-columns: 1fr 200px;
    }

    .about-me__img {
      grid-area: img;
    }

    .section__subtitle--about {
        grid-column: -1 / 1;
        grid-row: 2;
        position: relative;
        left: -2rem;
        width: calc(100% + 4rem);
        padding-left: 2rem;
        padding-right: calc(200px + 4rem);
        align-self: center;
    }




}