header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 65px;
}

.nav-toggle {
    border: none;
    padding: .8rem;
    cursor: pointer;
    background-color: transparent;
    position: absolute;
    top: 2.3rem;
    right: 1rem;
    z-index: 10000;
    

}

.nav-toggle.active {
    position: fixed;
}

.hamburger {
    background-color: var(--color-blue);
    width: 2rem;
    height: 5px;
    display: block;
    border-radius: 2rem;
    position: relative;
    transition: transform .5s ease-in-out;
}

.hamburger.active {
    transform: rotate(.625turn);
}

.hamburger.active::before {
    opacity: 0;
}

.hamburger.active::after {
    transform: rotate(90deg) translateX(9px);
}

.hamburger::after, .hamburger::before {
    content: '';
    width: 2rem;
    height: 5px;
    border-radius: 2rem;
    position: absolute;
    left:0;
    right: 0;
    background-color: var(--color-blue);
}

.hamburger::before {
    top: 9px;
}

.hamburger::after {
    bottom: 9px;
}

@media (min-width: 800px) {

    .logo {
        max-width: 85px;
    }
}