footer {
    background-color: #111;
    text-align: center;
    padding: 3rem 0
}

.footer__link {
    color: var(--color-blue);
    font-size: var(--fontSize-h3);
    font-weight: bold;
    padding: .5rem;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    margin-top: 2.5rem;
    padding: 0;
}

.social-list__link {
    color: var(--color-blue);
    font-size: var(--fontSize-h3);
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .5s;
}

.social-list__link:hover, .footer__link:hover, .social-list__link:focus {
    opacity: 0.6;
    transform: translateY(6%);
}

.footer__link:hover {
    text-decoration: underline;
}

footer a {
    text-decoration: none;
}